################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/qlogstats/.vs/qlogstats/v16/TestStore/0
